nav {
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

button, .btn {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

.skills span,
.interests span {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}
